{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="row card-panel header-card">
        <div class="lime accent-3 col m2 offset-m5">
            <h3 class="center">Home</h3>
        </div>
    </div>
    <div class="row black container">
        <div class="col m4 offset-m4 black">
            <form method="GET" action="{% url 'products' %}">
                <div class="search">
                    <input id="input-style" type="text" name="query" placeholder="Search The Website">
                    <div class="center">
                        <button class="waves-effect waves-light lime accent-3 black-text btn" type="submit">
                            <i class="material-icons right">search</i>Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}