{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row card-panel header-card">
	<div class="lime accent-3 col s6 offset-s3 m2 offset-m5">
		<h3 class="center">Account Details</h3>
	</div>
	<div class="container">
		<div class="row">
			<div class="col m6 right">
				<div>
					<ul class="collection with-header">
						<li class="collection-header lime accent-3">
							<h4>Order History</h4>
						</li>
							{% for order in orders %}
								<li class="collection-item">
									<a href=""><h6>{{ order }}</h6></a>
									{% for item in order.lineitems.all %}
									<p>{{ item.product.name }} ({{ item.product.sku|upper }}): {{ item.quantity }}</p>
									{% endfor %}
									<p>{{ order.date }}</p>
								</li>
							{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col m6">
				<form action="{% url 'account_details' %}" method="POST" id="profile-update-form" class="lime accent-3">
					{% csrf_token %}
					<fieldset class="white">
						<legend class="fieldset-label">Delivery Information</legend>
						<div class="row">
							{{ form.default_phone_number }}
							{{ form.default_street_address1 }}
							{{ form.default_street_address2 }}
							{{ form.default_town_or_city }}
							{{ form.default_postcode }}
							{{ form.default_county }}
							{{ form.default_country }}
						</div>
						<div class="row">
							<div class="col">
								<button type="submit" class="lime accent-3">Submit Changes</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}