{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<style>
    /* added css here in order to customise the width depending on how many days the user */
    .cycle-days {
        display: inline-block;
        border-style: double;
        border-width: 2px;
        border-color: black;
        border-radius: 10px;

        width: calc( {{span_width}}%);
        height: 60px;}

    #today {
        width: calc({{span_width}}% * 1.5);
        height: calc({{span_width}}% * 1.5)
    }
    @media (max-width: 550px) {

    .cycle-days {
        display: none;
    }

    #today {
        display: block;
        margin:auto;
        width: 70px;
        height: 70px;
    }
}
</style>
<div class="row card-panel header-card">
    <div class="lime accent-3 col s6 offset-s3 m4 offset-m4">
        <h3 class="center">Welcome Back {{ user }}</h3>
    </div>
</div>
<div class="container">
    <div class="container period-form">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header lime accent-3"><i class="material-icons">edit</i> Click here to edit period details</div>
                <div class="collapsible-body">
                    <span>
                        <p class="white-text">Please fill both fields to edit period details.</p>
                        <form action="{% url 'profile' %}" method="POST" id="period_date">
                            {% csrf_token %}
                            <p class="lime-text text-accent-3">
                                <i class="material-icons">date_range</i> Your current cycle started on {{ period_details.period_start_date }}
                            </p>
                            {{ form.period_start_date }}
                            <p class="lime-text text-accent-3">
                                <i class="material-icons">access_time</i> Your cycle is set to last for {{ period_details.period_length }} days
                            </p>
                            {{ form.period_length }}
                            <button type="sumbit" class="lime accent-3">Submit</button>
                        </form>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <h4 class="center lime-text text-accent-3">
            Your Cycle
        </h4>
    </div>
    <div class="row">
        <div class="col">
            <p class="lime accent-3">
                Today you are on day {{ cycle_day }} of your cycle.
            </p>
        </div>
    </div>
    <div class="row center">
        <div class="valign-wrapper">
            {% for day in days %}
                {% if day < 6 %}
                    <span id="{% if day == cycle_day %}today{% else %}day-{{ day }}{% endif %}"
                        class="cycle-days mensis center">
                        <a href="#mensis-modal" class="modal-trigger black-text">
                            <p>Day<br> {{ day }}</p>
                        </a>
                    </span>
                {% elif day > 5 and day < mid_follicular %}
                    <span id="{% if day == cycle_day %}today{% else %}day-{{ day }}{% endif %}"
                        class="cycle-days follicular-1 center modal-trigger">
                        <a href="#follicular-modal" class="modal-trigger black-text">
                            <p>Day<br> {{ day }}</p>
                        </a>
                    </span>
                {% elif day > mid_follicular and day < ovulation %}
                    <span id="{% if day == cycle_day %}today{% else %}day-{{ day }}{% endif %}"
                        class="cycle-days follicular-2 center modal-trigger">
                        <a href="#follicular-modal" class="modal-trigger black-text">
                            <p>Day<br> {{ day }}</p>
                        </a>
                    </span>
                {% elif day == ovulation %}
                    <span id="{% if day == cycle_day %}today{% else %}day-{{ day }}{% endif %}"
                        class="cycle-days ovulation center modal-trigger">
                        <a href="#ovulation-modal" class="modal-trigger black-text">
                            <p>Day<br> {{ day }}</p>
                        </a>
                    </span>
                {% elif day > ovulation and day < mid_luteal %}
                    <span id="{% if day == cycle_day %}today{% else %}day-{{ day }}{% endif %}"
                        class="cycle-days luteal-1 center modal-trigger">
                        <a href="#luteal-modal" class="modal-trigger black-text">
                            <p>Day<br> {{ day }}</p>
                        </a>
                    </span>
                {% elif day > mid_luteal %}
                    <span id="{% if day == cycle_day %}today{% else %}day-{{ day }}{% endif %}"
                        class="cycle-days luteal-3 center modal-trigger">
                        <a href="#luteal-modal" class="modal-trigger black-text">
                            <p>Day<br> {{ day }}</p>
                        </a>
                    </span>
                {% endif %}
            {% endfor %}
            {% for phase in cycle_phases %}
            <div id="{% if phase.title == 'Ovulation' %}ovulation-modal{% elif phase.title == 'Luteal Phase' %}luteal-modal{% elif phase.title == 'Menstruation' %}mensis-modal{% elif phase.title == 'Follicular Phase' %}follicular-modal{% endif %}"
            class="modal">
                <div class="modal-content lime accent-3">
                    <h4>{{ phase.title }}</h4>
                    <p>{{ phase.article|linebreaksbr }}</p>
                </div>
                <div class="modal-footer lime accent-4">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                        <i class="material-icons">close</i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="lime accent-3">
                {% if cycle_day < 6 %}
                {{ mensis.article }}
                {% elif cycle_day > 5 and day < ovulation%}
                {{ follicular.article }}
                {% elif cycle_day == ovulation%}
                {{ ovulation_phase.article }}
                {% elif cycle_day > mid_luteal%}
                {{ luteal.article }}
                {% endif %}
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="lime-text text-accent-3 center">Check out these products</h4>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col s12 m4 l3">
            <div class="card large">
                <div class="card-image">
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' product.id %}" alt="{{ product.name }}">
                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                    <span class="card-title black-text product-label truncate">{{ product.name }}</span>
                </div>
                <div class="card-content">
                    <p class="product-page-descriptions">{{ product.description|linebreaksbr }}</p>
                </div>
                <div class="card-action lime accent-3">
                    <p class="clack-text">£{{ product.price }}</p>
                    <a href="{% url 'product_detail' product.id %}" class="black-text">More info...</a>
                    <input type="radio" value="red">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}