{% extends 'base.html' %}
{% load static %}
{% load materializecss %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="row card-panel header-card">
    <div class="lime accent-3 col m2 offset-m5">
        <h3 class="center">Welcome Back {{ user }}</h3>
    </div>
</div>
<div class="container">
    <p class="white-text">
        {{ period_details.period_length }}
        {{ period_details.period_start_date }}
    </p>
</div>
<div class="container">
    <div class="row">
        <!-- if no period-info display "create" else display "update" -->
        <p><a href="">Create</a>your cycle</p>
    </div>
    <div class="container period-form">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header lime accent-3">Edit Cycle Start Date</div>
                <div class="collapsible-body">
                    <span>
                        <form action="{% url 'profile' %}" method="POST" id="period_date">
                            {% csrf_token %}
                            {{ form.period_start_date|materializecss }}
                            <button type="sumbit">Submit</button>
                        </form>
                    </span>
                </div>
            </li>
            <li>
                <div class="collapsible-header lime accent-3"><i class="material-icons">place</i>Edit Cycle Length</div>
                <div class="collapsible-body">
                    <span>
                        <form action="{% url 'profile' %}" method="POST" id="period_length">
                            {% csrf_token %}
                            {{ form.period_length|materializecss }}
                            <button type="sumbit">Submit</button>
                        </form>
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <!-- if period-info, display -->
</div>
<div class="row">
    <h4 class="center lime-text text-accent-3">
        Your Cycle
    </h4>
</div>
<div class="row">
    <!-- for each day = width/cycle-length. can write in the html. give each span a number. use view to calc half-point and use span-numbers to identify them -->
    
    <span id="day-{{ day }}"></span>
</div>
</div>
{% endblock %}