{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="row card-panel black">
    <div class="lime accent-3 col m2 offset-m5">
        <h3 class="center">Checkout</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col m6 right">
            <div>
                <h5>Order Summary </h5>
            </div>
            <div>
                <ul class="collection with-header">
                    <li class="collection-header lime accent-3">
                        <h4>Your Basket</h4>
                    </li>
                        {% for basket_item in basket_items %}
                            <li class="collection-item avatar">
                                <img src="{{ basket_item.product.image.url }}" alt="{{ basket_item.product.name }}" class="circle">
                                <span class="title">{{ basket_item.product.name }} ({{ basket_item.product.sku|upper }})</span>
                                {% if basket_item.product.has_sizes %}
                                    <p>Size: {{ basket_item.size|upper }} <br>
                                {% else %}
                                <br><br>
                                {% endif %}
                                    {{ basket_item.quantity }} x £{{ basket_item.product.price }}
                                </p>
                                <span class="secondary-content">
                                    <p class="black-text">Subtotal: £{{ basket_item.subtotal }}</p>
                                </span>
                            </li>
                        {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col m6">
            <form action="{% url 'checkout' %}" method="POST" id="form-payment">
                {% csrf_token %}
                <fieldset>
                    <legend class="fielset-label white-text">Your Details</legend>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Name" id="first_name" type="text" name="first_name" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" name="last_name" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" name="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="fielset-label">Delivery Information</legend>
                    <!-- for saving delivery info -->
                    {% if user.is_authenticated %}
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in" name="save_info" checked="checked"/>
                            <span>Save Delivery Info</span>
                        </label>
                    </p>
                    {% else %}
                    <a href="">
                        <p class="white-text">Create an Account</p>
                    </a>
                        <p class="white-text">
                            <a href="">Login</a>
                             to save delivery information
                        </p>
                    {% endif %}
                </fieldset>
                <fieldset>
                    <legend class="fielset-label">Payment</legend>
                    <div id="card-element"></div>
                    <div id="card-errors"></div>
                </fieldset>
                <div class="row">
                    <a href="{% url 'view_basket' %}" class="amber darken-1 waves-effect waves-light btn">
                        <span class="black-text">
                            <i class="large material-icons">chevron_left</i>
                        </span>
                        <span class="black-text">Back to Basket</span>
                    </a>
                </div>
                <div class="row">
                    <a href="" id="submit-checkout" class="light-green accent-4 waves-effect waves-light btn">
                        <span class="black-text">
                            <i class="large material-icons">payment</i>
                        </span>
                        <span class="black-text">Make payment</span>
                    </a>
                    <p class="red-text">
                        <i class="material-icons">warning</i>
                        Your card will be charged: £{{ grand_total }}
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}