{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row card-panel black">
        <div class="lime accent-3 col m2 offset-m5">
            <h3 class="center">Basket</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s10 m6 l5">
            <ul class="collection with-header">
                <li class="collection-header lime accent-3">
                    <h4>Your Basket</h4>
                </li>
                {% if basket_items %}
                    {% for basket_item in basket_items %}
                        <li class="collection-item avatar">
                            <img src="{{ basket_item.product.image.url }}" alt="{{ basket_item.product.name }}" class="circle">
                            <span class="title">{{ basket_item.product.name }} ({{ basket_item.product.sku|upper }})</span>
                            {% if basket_item.product.has_sizes %}
                                <p>Size: {{ basket_item.size|upper }} <br>
                            {% else %}
                            <br><br>
                            {% endif %}
                                {{ basket_item.quantity }} x £{{ basket_item.product.price }}
                            </p>
                            <span class="secondary-content">
                                <p class="black-text">Subtotal: £{{ basket_item.subtotal }}</p>
                                <form class="form update-form" method="POST" action="{% url 'update_basket' basket_item.item_id %}">
                                    {% csrf_token %}
                                    <input id="basket-qty-input" class="qty_input" type="number" name="quantity" value="{{ basket_item.quantity }}" min="1"
                                    max="99" data-item_id="{{ basket_item.item_id }}" id="id_qty_{{ basket_item.item_id }}">
                                    {% if basket_item.product.has_sizes %}
                                    <input name="product_size" type="hidden" value="{{ basket_item.size }}">
                                    {% endif %}
                                    <a class="black-text update-basket">
                                        <i class="material-icons">update</i>
                                    </a>
                                    <a class="black-text remove-item" id="remove_{{ basket_item.item_id }}" data-product_size="{{ basket_item.size }}">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </form>
                            </span>
                        </li>
                    {% endfor %}
                    <li class="collection-item">Total: <span class="secondary-content black-text">£{{ total }}</span></li>
                    <li class="collection-item">Delivery Cost: <span class="secondary-content black-text">£{{ delivery }}</span></li>
                    <li class="collection-item">Grand total: <span class="secondary-content black-text">£{{ grand_total|floatformat:2 }}</span></li>
                </ul>
                <div class="row">
                    <div class="col right right-align">
                        <a href="{% url 'products' %}" class="lime accent-3 waves-effect waves-light btn">
                            <span class="black-text">
                                <i class="large material-icons">chevron_left</i>
                            </span>
                            <span class="black-text">Continue Shopping</span>
                        </a>
                        <a href="{% url 'checkout' %}" class="lime accent-3 waves-effect waves-light btn">
                            <span class="text-uppercase black-text">Checkout £{{ grand_total|floatformat:2 }}</span>
                        </a>
                    </div>
                {% else %}
                <li class="collection-item">Your basket is empty.</li>
            </ul>
            <a href="{% url 'products' %}" class="lime accent-3 waves-effect waves-light btn">
                <span class="black-text">
                    <i class="large material-icons">chevron_left</i>
                </span>
                <span class="black-text">Continue Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    
    
    updateButton = document.getElementsByClassName("update-basket");
    for (let i = 0; i < updateButton.length; i++) {
        updateButton[i].addEventListener("click",  function(){
        var form = this.parentElement;
        form.submit();
    });
    }
    

    removeButton = document.getElementsByClassName("remove-item");
    for (let i = 0; i < removeButton.length; i++) {
        removeButton[i].addEventListener("click",  function(){
            var csrfToken = "{{ csrf_token }}";
            var itemId = this.getAttribute('id').split('remove_')[1];
            var size = this.dataset.product_size;
            var url = `/basket/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};
            $.post(url, data)
            .done(function() {
                location.reload();
            });
            })
    }
</script>
{% endblock %}
