#basket-qty-input {
    width: 35px;
}

.brand-logo {
    font-family: 'Rubik Dirt', cursive;
}

body {
    background-color: rgb(14, 14, 14);
    /* Photo by <a href="https://unsplash.com/@leohoho?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Leohoho</a> on <a href="https://unsplash.com/s/photos/liquid-color?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
    /* background-image: url(/media/background.jpg); */
    /* Photo by <a href="https://unsplash.com/@thebeardbe?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Filip Bunkens</a> on <a href="https://unsplash.com/s/photos/liquid-color?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
    /* background-image: url(/media/background2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Indie Flower', cursive;
    color: black;
}

button {
    font-family: 'Indie Flower', cursive;
    ;
}

.product-label {
    background-color: #c8ff00b5;
    width: 100%;
    border-style: solid;
    border-color: black;
}

.header-card {
    background: linear-gradient(to right, rgb(14, 14, 14), rgb(7, 7, 7), rgb(14, 14, 14));
}

#input-style {
    border: 2px solid #c8ff00b5;
    border-radius: 4px;
    color: aqua;
    text-align: center;
}

#input-style::placeholder {
    color: rgb(45, 45, 45);
}

img {
    object-fit: cover;
}

.product-page-descriptions {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.color-select {
    border: solid;
    border: 1px;
    border: grey;
}

/* circle menu code from codepen https://codepen.io/metaprinter/pen/zwvjNb */
.circle-menu li {
    list-style: none;
    display: inline;
}

.circle-menu {
    position: relative;
    width: 24em;
    height: 24em;
    border: inset 2px #c6ff00;
    border-radius: 50%;
    margin: 5em auto 7em;
}

.circle-menu a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6em;
    height: 6em;
    line-height: 8em;
    margin: -3em;
    -moz-border-radius: 4em;
    -webkit-border-radius: 4em;
    border-radius: 4em;
    text-align: center;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    font-weight: 900;
}

#today {
    border-style: solid;
    border-color: cornsilk;
    border-radius: 50%;
}

.phase {
    border-style: double;
    border: 2px;
    border: black;
}

.ovulation {
    background: #007bb0;
}

.luteal-1 {
    background: #28632b;
}

.luteal-2 {
    background: #bc9704;
}

.luteal-3 {
    background: #b95d00;
}

.mensis {
    background: #b4191c;
}

.follicular-1 {
    background: #601956;
}

.follicular-2 {
    background: #452e6f;
}

.ovulation:hover {
    background: #009cde;
}

.luteal-1:hover {
    background: #3a913f;
}

.luteal-2:hover {
    background: #fecd06;
}

.luteal-3:hover {
    background: #fa7f00;
}

.mensis:hover {
    background: #ed2124;
}

.follicular-1:hover {
    background: #932683;
}

.follicular-2:hover {
    background: #61419e;
}


/* 360/7= 51 roughly so for 7 elements rotate the element every 51deg. 12em translate is half the container */
.circle-menu .ovulation {
    transform: rotate(51deg) translate(12em) rotate(-51deg);
    -webkit-transform: rotate(51deg) translate(12em) rotate(-51deg);
    -ms-transform: rotate(51deg) translate(12em) rotate(-51deg);
}

.circle-menu .luteal-1 {
    transform: rotate(102deg) translate(12em) rotate(-102deg);
    -webkit-transform: rotate(102deg) translate(12em) rotate(-102deg);
    -ms-transform: rotate(102deg) translate(12em) rotate(-102deg);
}

.circle-menu .luteal-2 {
    transform: rotate(153deg) translate(12em) rotate(-153deg);
    -webkit-transform: rotate(153deg) translate(12em) rotate(-153deg);
    -ms-transform: rotate(153deg) translate(12em) rotate(-153deg);
}

.circle-menu .luteal-3 {
    transform: rotate(204deg) translate(12em) rotate(-204deg);
    -webkit-transform: rotate(204deg) translate(12em) rotate(-204deg);
    -ms-transform: rotate(204deg) translate(12em) rotate(-204deg);
}

.circle-menu .mensis {
    transform: rotate(255deg) translate(12em) rotate(-255deg);
    -webkit-transform: rotate(255deg) translate(12em) rotate(-255deg);
    -ms-transform: rotate(255deg) translate(12em) rotate(-255eg);
}

.circle-menu .follicular-1 {
    transform: rotate(306deg) translate(12em) rotate(-306deg);
    -webkit-transform: rotate(306deg) translate(12em) rotate(-306deg);
    -ms-transform: rotate(306deg) translate(12em) rotate(-306deg);
}

.circle-menu .follicular-2 {
    transform: rotate(357deg) translate(12em) rotate(-357deg);
    -webkit-transform: rotate(357deg) translate(12em) rotate(-357deg);
    -ms-transform: rotate(357deg) translate(12em) rotate(-357deg);
}

/* end of codepen code */
.messages {
    position: fixed;
    top: 50px;
    right: 20px;
    z-index: 99;
    width: 20%;
}


/* Larger cycle links on xl screens */
@media (min-width: 1200px) {
    /* circle menu code from codepen https://codepen.io/metaprinter/pen/zwvjNb */
    .circle-menu a {
        width: 8em;
        height: 8em;
        margin: -3.5em;
    }

    .circle-menu {
        width: 36em;
        height: 36em;
    }

    /* 360/7= 51 roughly so for 7 elements rotate the element every 51deg. 12em translate is half the container */
    .circle-menu .ovulation {
        transform: rotate(51deg) translate(18em) rotate(-51deg);
        -webkit-transform: rotate(51deg) translate(18em) rotate(-51deg);
        -ms-transform: rotate(51deg) translate(18em) rotate(-51deg);
    }

    .circle-menu .luteal-1 {
        transform: rotate(102deg) translate(18em) rotate(-102deg);
        -webkit-transform: rotate(102deg) translate(18em) rotate(-102deg);
        -ms-transform: rotate(102deg) translate(18em) rotate(-102deg);
    }

    .circle-menu .luteal-2 {
        transform: rotate(153deg) translate(18em) rotate(-153deg);
        -webkit-transform: rotate(153deg) translate(18em) rotate(-153deg);
        -ms-transform: rotate(153deg) translate(18em) rotate(-153deg);
    }

    .circle-menu .luteal-3 {
        transform: rotate(204deg) translate(18em) rotate(-204deg);
        -webkit-transform: rotate(204deg) translate(18em) rotate(-204deg);
        -ms-transform: rotate(204deg) translate(18em) rotate(-204deg);
    }

    .circle-menu .mensis {
        transform: rotate(255deg) translate(18em) rotate(-255deg);
        -webkit-transform: rotate(255deg) translate(18em) rotate(-255deg);
        -ms-transform: rotate(255deg) translate(18em) rotate(-255eg);
    }

    .circle-menu .follicular-1 {
        transform: rotate(306deg) translate(18em) rotate(-306deg);
        -webkit-transform: rotate(306deg) translate(18em) rotate(-306deg);
        -ms-transform: rotate(306deg) translate(18em) rotate(-306deg);
    }

    .circle-menu .follicular-2 {
        transform: rotate(357deg) translate(18em) rotate(-357deg);
        -webkit-transform: rotate(357deg) translate(18em) rotate(-357deg);
        -ms-transform: rotate(357deg) translate(18em) rotate(-357deg);
    }

    /* end of codepen code */
}

/* cycle links on medium and down */
@media (max-width: 550px) {
    /* circle menu code from codepen https://codepen.io/metaprinter/pen/zwvjNb */
    .circle-menu a {
        width: 4em;
        height: 4em;
        margin: -2em;
    }

    .circle-menu {
        width: 16em;
        height: 16em;
    }

    /* 360/7= 51 roughly so for 7 elements rotate the element every 51deg. 12em translate is half the container */
    .circle-menu .ovulation {
        transform: rotate(51deg) translate(8em) rotate(-51deg);
        -webkit-transform: rotate(51deg) translate(8em) rotate(-51deg);
        -ms-transform: rotate(51deg) translate(8em) rotate(-51deg);
    }

    .circle-menu .luteal-1 {
        transform: rotate(102deg) translate(8em) rotate(-102deg);
        -webkit-transform: rotate(102deg) translate(8em) rotate(-102deg);
        -ms-transform: rotate(102deg) translate(8em) rotate(-102deg);
    }

    .circle-menu .luteal-2 {
        transform: rotate(153deg) translate(8em) rotate(-153deg);
        -webkit-transform: rotate(153deg) translate(8em) rotate(-153deg);
        -ms-transform: rotate(153deg) translate(8em) rotate(-153deg);
    }

    .circle-menu .luteal-3 {
        transform: rotate(204deg) translate(8em) rotate(-204deg);
        -webkit-transform: rotate(204deg) translate(8em) rotate(-204deg);
        -ms-transform: rotate(204deg) translate(8em) rotate(-204deg);
    }

    .circle-menu .mensis {
        transform: rotate(255deg) translate(8em) rotate(-255deg);
        -webkit-transform: rotate(255deg) translate(8em) rotate(-255deg);
        -ms-transform: rotate(255deg) translate(8em) rotate(-255eg);
    }

    .circle-menu .follicular-1 {
        transform: rotate(306deg) translate(8em) rotate(-306deg);
        -webkit-transform: rotate(306deg) translate(8em) rotate(-306deg);
        -ms-transform: rotate(306deg) translate(8em) rotate(-306deg);
    }

    .circle-menu .follicular-2 {
        transform: rotate(357deg) translate(8em) rotate(-357deg);
        -webkit-transform: rotate(357deg) translate(8em) rotate(-357deg);
        -ms-transform: rotate(357deg) translate(8em) rotate(-357deg);
    }
}