.brand-logo {
    font-family: 'Rubik Dirt', cursive;
}
body {
    background-color: black;
    font-family: 'Indie Flower', cursive;
    color: black;
}

.product-label {
    background-color: #c8ff00b5;
    width: 100%;
    border-style: solid;
    border-color: black;
}


/* Slightly larger container on xl screens */
@media (min-width: 1200px) {}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {}