{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<div class="row card-panel header-card">
  <div class="lime accent-3 col s6 offset-s3 m2 offset-m5">
      <h3 class="center">{% trans "Sign Out" %}</h3>
  </div>
</div>
<div class="row card-panel header-card">
  <div class="white col s6 offset-s3 m2 offset-m5 allauth-form">
    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <div class="center">
        <button type="submit" class="lime accent-3">{% trans 'Sign Out' %}</button>
      </div>
    </form>
  </div>
</div>


{% endblock %}
