{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
<div class="row card-panel header-card">
    <div class="lime accent-3 col s8 offset-s2 m4 offset-m4 allauth-form">
        <h3 class="center">{% trans "Set Password" %}</h3>
    </div>
</div>
<div class="row card-panel header-card">
    <div class="white col s10 offset-s1 l4 offset-l4"> 
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </form>
    </div>
</div>
    
{% endblock %}
