{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

<div class="row card-panel header-card">
    <div class="lime accent-3 col s8 offset-s2 m4 offset-m4 allauth-form">
        <h3 class="center">{% trans "Password Reset" %}</h3>
    </div>
</div>
<div class="row card-panel header-card">
    <div class="white col s10 offset-s1 l4 offset-l4">
        <p>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
        </p>

        <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
</div>
{% endblock %}
