{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<div class="row card-panel header-card">
  <div class="lime accent-3 col s6 offset-s3 m2 offset-m5 allauth-form">
    <h3 class="center">{% trans "Register" %}</h3>
  </div>
</div>
<div class="row card-panel header-card">
  <div class="white col s10 offset-s1 m4 offset-m4">
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="center">
        <button type="submit" class="lime accent-3">{% trans "Sign Up" %} &raquo;</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}