{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row card-panel header-card">
    <div class="lime accent-3 col m2 offset-m5">
        <h3 class="center">Latest Articles</h3>
    </div>
</div>
<div class="container">
    <p class="white-text">
        {% for article in articles %}
        <a href="{% url 'article_detail' article.id %}">
            <h6>
                {{ article.title }}
            </h6>
            <p>
                {{ article.article|linebreaksbr }}
            </p>
        </a>      
        {% endfor %}
    </p>
</div>
{% endblock %}
