{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row card-panel header-card">
	<div class="lime accent-3 col s6 offset-s3 m4 offset-m4">
		<h3 class="center">Edit Article</h3>
	</div>
</div>
<div class="container crud-form">
    <div class="row">
        <div class="col">
            <form method="POST" action="{% url 'edit_article' article.id %}">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="lime accent-3">Edit</button>
                <button type="button" class="lime accent-3" href="{% url 'articles' %}">Cancel</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}