{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row card-panel header-card">
    <div class="lime accent-3 col s6 offset-s3 m2 offset-m5">
        <h3 class="center">Product Reviews</h3>
    </div>
</div>
{% if request.user.is_superuser %}
    <div class="row">
        <a class="waves-effect waves-light btn red" href="{% url 'delete_article' article.id %}">Delete Article</a>
    </div>
{% endif %}
<div class="container">
    <div class="row">
        {% for article in product_reviews %}
            <div class="col s10 m5 l3">
                <div class="card blue">
                    <div class="card-content black-text">
                        <span class="card-title">{{ article.title|upper }}</span>
                        <p>
                            {{ article.article|truncatechars_html:100 }}
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'article_detail' article.id %}">View More</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
