{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="row card-panel black">
    <div class="lime accent-3 col m2 offset-m5">
        <h3 class="center">Your Cycle</h3>
    </div>
</div>
<div class="container">
    <p class="white-text">
        <!-- {% for cycle_phase in cycle_phases %}
        {{ cycle_phase.article|linebreaksbr }}
        {% endfor %} -->
    </p>
</div>
<!-- circle menu found on codepen https://codepen.io/metaprinter/pen/zwvjNb  -->
<div class="circle-menu">
	<ul>
		<li><a class="ovulation" href="#">Ovulation</a></li>
		<li><a class="luteal-1" href="#">Luteal Phase</a></li>
		<li><a class="luteal-2" href="#">Luteal Phase</a></li>
		<li><a class="luteal-3" href="#">Luteal Phase</a></li>
		<li><a class="mensis" href="#">Mensis</a></li>
		<li><a class="follicular-1" href="#">Follicular Phase</a></li>
		<li><a class="follicular-2" href="#">Follicular Phase</a></li>
	</ul>
</div>
{% endblock %}
