{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <!-- does it need this block? -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:wght@100;300;400;700;900&family=Rubik+Dirt&display=swap" rel="stylesheet">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Periodic {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header>
        <div>
            <ul id="dropdown1" class="dropdown-content">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <li><a href="{% url 'site_management' %}" class="dropdown-item black-text">Product Management</a></li>
                    {% endif %}
                    <li><a href="{% url 'profile' %}" class="dropdown-item black-text">My Profile</a></li>
                    <li><a href="{% url 'account_details' %}" class="dropdown-item black-text">Account details</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'account_logout' %}" class="dropdown-item black-text">Log out</a></li>
                {% else %}
                    <li><a href="{% url 'account_signup' %}" class="dropdown-item black-text">Register</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'account_login' %}" class="dropdown-item black-text">Login</a></li>
                {% endif %}
            </ul>
            <ul id="nav-mobile" class="left sidenav">
                <li><a class="black-text" href="{% url 'your_cycle' %}">Your Cycle</a></li>
                <li><a class="black-text" href="badges.html">Articles</a></li>
                <li><a class="black-text" href="{% url 'products' %}">Products</a></li>
                <li><a class="black-text" href="collapsible.html">Product Reviews</a></li>
            </ul>
            <nav>
                <div class="nav-wrapper lime accent-3">
                    <a href="{% url 'home' %}" class="brand-logo center black-text">Periodic</a>
                    <a href="#" data-target="nav-mobile" class="sidenav-trigger left"><i class="material-icons black-text">menu</i></a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a class="black-text" href="{% url 'your_cycle' %}">Your Cycle</a></li>
                        <li><a class="black-text" href="badges.html">Articles</a></li>
                        <li><a class="black-text" href="{% url 'products' %}">Products</a></li>
                        <li><a class="black-text" href="collapsible.html">Product Reviews</a></li>
                    </ul>
                    <ul class="right">
                        <li>
                            <a class="black-text dropdown-trigger" href="#!" data-target="dropdown1">
                                Account<i class="material-icons right">arrow_drop_down</i>
                            </a>
                        </li>
                        <li>
                            <a class="{% if grand_total %}text-black font-weight-bold{% else %}text-grey{% endif %}" href="{% url 'view_basket' %}">
                                <i class="material-icons black-text">shopping_basket</i>
                                {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                {% else %}
                                    £0.00
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
            {% include 'includes/toasts/error.html' %}
        {% elif level == 30 %}
            {% include 'includes/toasts/warning.html' %}
        {% elif level == 25 %}
            {% include 'includes/toasts/success.html' %}
        {% else %}
            {% include 'includes/toasts/info.html' %}
        {% endif %}
    {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
</body>

</html>