{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %} 
    <!-- does it need this block? -->     
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% block corejs %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Periodic {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <header></header>
   
    {% if messages %}
        <div class="messages"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
</body>
</html>