{% extends 'base.html' %}
{% load static %}
{% load materializecss %}

{% block content %}
<div class="row card-panel header-card">
	<div class="lime accent-3 col s6 offset-s3 m2 offset-m5">
		<h3 class="center">Add a Product</h3>
	</div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|materializecss }}
                <button type="submit" class="lime accent-3">Add</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}