{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="row card-panel header-card">
    <div class="lime accent-3 col s6 offset-s3 m4 offset-m4">
        <h3 class="center">{{ product.name }}</h3>
    </div>
</div>
<div class="row container">
    <div class="row">
        <div class="col">
            <a href="{% url 'products' %}" class="lime accent-3 waves-effect waves-light btn">
                <span class="black-text">
                    <i class="large material-icons">chevron_left</i>
                </span>
                <span class="black-text">Continue Shopping</span>
            </a>
            {% if request.user.is_superuser %}
                <a class="waves-effect waves-light btn purple" href="{% url 'edit_product' product.id %}">Edit Product</a>
                <a class="waves-effect waves-light btn red" href="{% url 'delete_product' product.id %}">Delete Product</a>
                <a href="{% url 'add_product' %}" class="waves-effect waves-light btn green">Add Another Product</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4">
            {% if product.image %}
            <a href="{{ product.image.url }}" target="_blank">
                <img class="card-img-top img-fluid responsive-img" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
            {% else %}
                <img class="card-img-top img-fluid responsive-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            {% endif %}
        </div>
        <div class="col-4">
            <div class="white-text">
                <h5>{{ product.name }}</h5>
                <p>
                    {{ product.description|linebreaksbr }}
                </p>
                <P>£{{ product.price }}</P>
            </div>
        </div>
    </div>
    <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-10 offset-1">
                {% if product.has_sizes %}
                    <div class="row">
                        <div class="input-field col s12">
                            <select name="product_size" id="product_sizes">
                                <option value="s">Small</option>
                                <option value="m">Medium</option>
                                <option value="l">Large</option>
                            </select>
                            <label class="size-select">Choose your size</label>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="input-field col s12">
                    <p class="white-text"><strong>Quantity:</strong></p>
                        <input class="form-control qty_input white-text" type="number" name="quantity" value="1" min="1"
                            max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                    </div>
                <div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="submit" class="lime accent-3 waves-effect waves-light btn" value="Add to Bag">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </div>
        </div>
    </form>
</div>

{% endblock %}